<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="defaultPattern"
              value="[occurredAt: %date{ISO8601}] [traceId=%X{traceId}] [span=%X{spanId}] severity=%-6level [thread=%thread] logger=%logger{0} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${defaultPattern}</pattern>
        </encoder>
    </appender>
    
    <logger name="com.example.demo" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
